name: Deploy

on:
  push:
    branches:
      - "main"
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 22.x
      - name: npm install
        run: |
          npm install
      - name: Install bubble-ui-style-engine dependencies and build
        run: |
          cd libs/bubble-ui-style-engine
          npm install
          npm run build
      - name: Build App
        run: npm run docs
      - name: App Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          