name: Lint
on:
  pull_request:
    branches:
      - main
jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install packages
        run: npm ci
      - name: Install bubble-ui-style-engine dependencies and build
        run: |
          cd libs/bubble-ui-style-engine
          npm ci
          npm run build
      - name: Prettier
        run: npm run lint:prettier
      - name: ESLint
        run: npm run lint:eslint
      - name: Test
        run: npm run test
